# git+https://github.com/arcadelab/deepdrr.git@dev
git+https://github.com/arcadelab/deepdrr.git@43b45a8674541f746aa8d92e84acfd983989e194
aiofiles
cupy-cuda11x
joblib
more_itertools
pyzmq
pycapnp
pymeshfix
scipy
typer
